@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>TataSteel UISL SHA | Log In</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Font Awesome -->
    <!-- Ionicons -->
    <link href="~/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <!-- icheck bootstrap -->
    <link rel="stylesheet" href="~/plugins/icheck-bootstrap/icheck-bootstrap.min.css">
    <!-- Theme style -->
    <link rel="stylesheet" href="~/dist/css/adminlte.min.css">
    <link href="~/dist/css/custom.css" rel="stylesheet" />
    <!-- Google Font: Source Sans Pro -->
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">

</head>
<body class="hold-transition login-page" style="height:75vh!important;">

    <img src="~/dist/img/qa.png" style="max-width:100%;height:auto;" />
    <br>

    <div class="login-box">
        <!-- /.login-logo -->
        <div class="card">

            <div class="card-body login-card-body" style="z-index:9999!important;">
                <center><h6 style="color:red">Use Your ADID Credentials</h6></center>

                <form id="login-form" data-request-url="@Url.Action("Forgot", "Account")">
                    <div class="input-group mb-3">
                        <input id="pno" name="pno" type="number" class="form-control" placeholder="Personal Number" required autocomplete="off">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-user"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <input id="password" name="password" type="password" class="form-control" placeholder="Password" required autocomplete="off">
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-lock"></span>
                            </div>
                        </div>
                    </div>
                    <div class="input-group mb-3">
                        <select id="app" name="app" class="form-control" required>
                            <option value="QA">QA</option>
                        </select>
                        <div class="input-group-append">
                            <div class="input-group-text">
                                <span class="fas fa-folder"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div>
                            What is <img src="#" id="captcha-image" /> = <input name="captcha" id="captcha" class="form-control col-5 d-inline" />
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-8">
                            <P align="right"><input id="rem" name="rem" type="checkbox" checked> Remember Me?</P>
                        </div>
                        <!-- /.col -->
                        <div class="col-12">
                            <button type="submit" id="btn_login" class="btn btn-primary btn-block" onClick="Validate()" data-captcha-url="@Url.Action("RefreshCaptcha")" data-request-url="@Url.Action("Validate", "Account")">Sign In</button>

                        </div>
                        @*<div class="col-12">
                        <a class="btn btn-outline-primary btn-block mt-2" href="@Url.Action("Login", "Account")">SHA Sign In</a>
                        </div>*@
                        @*<div class="col-12">
                            <hr>
                            <button type="submit" id="btn_login2" class="btn btn-default btn-block">Forgot Password</button>
                        </div>*@
                        <!-- /.col -->
                    </div>
                </form>
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <div id="token-url" data-token-url="@Url.Action("RefreshCaptcha")" hidden></div>
    <div class="modal" id="modal-loader" style="z-index:9999!important;">
        <div class="modal-dialog modal-sm modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-body">
                    <img class="mx-auto d-block" src="~/dist/img/loader.gif" />
                    <p class="text-center">Please wait</p>
                </div>
            </div>
            <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
    </div>
    <!-- /.login-box -->
    <!--<center>
        <p style="z-index:9999"> Designed by Anmoul Infomatics Pvt. Ltd.</p>
    </center>-->
    <!-- jQuery -->
    <script src="~/plugins/jquery/jquery.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/dist/js/adminlte.min.js"></script>
    <!-- login -->
    <script src="~/dist/js/sweetalert.min.js"></script>

    <script src="~/dist/js/login.js"></script>

    <script>
        $(document).ready(function () {
            $("#login-form").on('submit', function (e) {
                e.preventDefault();
                Validate2();
            })
        });
    </script>

    <div class="footer">
    </div>


</body>

</html>


